<nav class="navbar  navbar-inverse bg-primary " > <!--ng-controller="NavbarController"-->
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="Home">MySummnerCamp</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="nav-item"><a class="nav-link" ui-sref="Home">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <!--<li  ng-show="hc.exists"class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">HI {{hc.oneUser.firstName}}</a>
                <ul class="dropdown-menu">
                    <li> <a ui-sref="profile">Profile</a>  </li>
                    <li><a><button type="button" class="btn btn-primary" ng-click ="hc.logout()">Logout</button></a></li>
                </ul>
            </li>
            -->
            <div>
                <button class=" btn btn-primary"  ng-click ="hc.registrationModal()">ADMIN</button>
                <button class=" btn btn-primary"  ng-click ="hc.registrationModal()">login</button>
               <!-- <i class="fa fa-user fa-3x"  ng-click ="hc.loginModal()" aria-hidden="true"></i>-->

            </div>
        </ul>

    </div>
</nav>
